<h1>All Listing</h1>
<p class="text-info">You can contact the person who listed the Product by clicking Profile or directly Buy by clicking Buy.</p>
<div class="container">
  <div class="row row-cols-3">
    <div *ngFor="let pro of productService.products" class="col mt-4">
      <div class="card bg-light" style="width: 20rem;">
        <div class="card-header">Product Name: {{pro.title}}</div>
        <div class="card-body">
          <h6 class="card-subtitle mb-2 text-muted">Condition: {{pro.condition}}</h6>
          <p class="card-text">Description: {{pro.description}}</p>
          <p class="card-link">Price: &#x20b9;{{pro.price}}</p>
          <p> Listed By: {{pro.username}}</p>
        </div>
        <div class="card-footer bg-transparent border-success">
          <a (click)= "onListedBy(pro)" class="btn btn-warning card-link">Profile</a>
          <a (click)= "onBuy(pro)" class="btn btn-success card-link">Buy</a>
        </div>
      </div>
    </div>
  </div>
</div>
