<h1>Your Orders</h1>

<div class="container">
  <div class="row">
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Sold Orders</div>
        <div class="card-body text-success">
          <h5 class="card-title"> &#x20b9; {{soldTotal}}</h5>
        </div>
      </div>
    </div>
    <div class="col-sm">
      <div class="card border-success mb-3" style="max-width: 18rem;">
        <div class="card-header">Total Purchased Orders</div>
        <div class="card-body text-info">
          <h5 class="card-title"> &#x20b9; {{purchaseTotal}}</h5>
        </div>
      </div>      
    </div>
  </div>
</div>

<table class="table table-striped">
    <thead>
      <tr>
        <th scope="col">order id</th>
        <th scope="col">Name</th>
        <th scope="col">Price</th>
        <th scope="col">Action</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let item of orderService.orders">
        <th scope="row">{{item.id}}</th>
        <td>{{item.title}}</td>
        <td> &#x20b9;{{item.price}}</td>
        <td> {{item.action}} </td>
      </tr>
    </tbody>
  </table>